.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-icon .item {
  width: 40px;
  height: 5px;
  display: block;
  position: relative;
  margin: 5px;
  background-color: #17253a;
  opacity: 1;
  border-radius: 15%;
  transition: all 0.3s;
}
.active .line1 {
  transform: rotate(270deg);
  opacity: 0;
  height: 3px;
}
.active .line2 {
  transform: rotate(45deg);
  top: 6px;
  height: 3px;
}
.active .line3 {
  transform: rotate(-45deg);
  top: -7px;
  height: 3px;
}


