* {
  margin: 0;
  box-sizing: border-box;
}

.comment-carousel {
  max-width: 426px;
  position: relative;
  border: 3px solid black;
  padding: 30px;
  background-color: antiquewhite;
}

.card{
    z-index: 3;
    position: absolute;
    left:500px;
    top:30px;   
}

.border{
    z-index: 2;
    position:absolute;
    left:500px;
    top:30px;
    transform: scale(0.9) translate(53px, 0);
    
}

.box {
    z-index: 1;
    position: absolute;
    left:500px;
    top:30px;
    transform: scale(0.8) translate(118px, 0);
    
}

.comment-carousel .item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  border-radius: 6px;
  box-shadow: 0px 30px 60px 0px rgba(254, 94, 68, 0.1);
  gap: 5px;
}

.comment-carousel .item .star .icon {
  background: #ffc93f;
}

.comment-carousel .comment {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #0e144a;
  margin-top: 20px;
}

.comment-carousel .person-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.comment-carousel .person-info .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-carousel .person-info .info .post {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.comment-carousel .person-info .info .local {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(14, 20, 74, 0.6);
}

.comment-carousel .person-info .arrow{
    display: flex;
    justify-content: space-between;
    gap:5px;
}

.carousel{
    position: relative;
    

}
